<div class="jumbotron">
    <h1>WieIsHetBokje 2.0!</h1>
    <p>Dit is WieIsHetBokje 2.0. De waardige opvolgor van WieIsHetBokje 1.0!</p>


    <p>
        <strong>Wat the &*$*^# is Wie Is Het Bokje?</strong><br/>
        De website "Wie Is Het Bokje" is in het leven geroepen voor iedereen die wel eens een <strike>kut</strike> vervelend klusje te doen heeft. Wat is er nu leuker dan één van je vrienden opzadelen met dit klusje?
        Wie is het bokje helpt je met de moeilijk taak om te bepalen wie nou dit <strike>irritante, vervelende</strike> nare klusje mag doen.<br/>
        &nbsp;<br/>

        <strong>Ik snap niet hoe het werkt!</strong><br/>
        Dan ben je bij deze zelf het bokje. Succes!<br/>
        &nbsp;<br/>

        <strong>Die <strike>flut</strike>site werkt niet!</strong><br/>
        Dat is heel erg jammer. Wellicht kun je ergens gaan mopperen, maar wij vertellen je lekker niet waar. Garantie tot aan de staldeur.<br/>

        &nbsp;<br/>
        Groeten,<br/>
        De bokkenhouder van het geitenbedrijf<br/>
        &nbsp;<br/>

    </p>
</div>