<div class="modal fade" id="newGroupModal" tabindex="-1" role="dialog" aria-labelledby="newGroupModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Sluit"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="newGroupModalLabel">Maak een nieuwe groep</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" ng-show="newgroupnamealert" role="alert">Deze groepsnaam bestaat al. Kies een andere naam</div>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="newgroupname" class="col-sm-4 control-label">Naam van de groep</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="newgroupname" ng-model="newgroupname" ng-keyup="$event.keyCode == 13 && addNewGroup()" placeholder="Groepsnaam">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuleren</button>
                <button type="button" class="btn btn-primary" ng-disabled="newgroupname == ''" ng-click="addNewGroup();">Aanmaken</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="removeGroupModal" tabindex="-1" role="dialog" aria-labelledby="removeGroupModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Sluit"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="removeGroupModalLabel">Verwijder deze groep</h4>
            </div>
            <div class="modal-body">
                Weet je zeker dat je deze groep wilt verwijderen?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuleren</button>
                <button type="button" class="btn btn-danger" ng-click="removeCurrentGroup();">Verwijder!</button>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary matchheight">
    <div class="panel-heading">
        <h3 class="panel-title">Beheer de bokjes</h3>
    </div>

    <div ng-if="showdoublewarning" class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="removeDoubleWarning()"><span aria-hidden="true">&times;</span></button>
        <strong>Fout!</strong> Je hebt zojuist een bokje geprobeerd toe te voegen met een naam die al bestaat en dat kan niet! Boer!
    </div>

    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <p>Dit zijn alle bokjes in de groep <strong>{{getCurrentGroupName()}}</strong></p>
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-default" data-toggle="modal" data-target="#newGroupModal">Maak groep</button>
                    <button class="btn btn-default" data-toggle="modal" data-target="#removeGroupModal">Verwijder groep</button>
                </div>
            </div>
        </div>

        <div style="height:20px;"></div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3">
                    <img style="background-color:#5bc0de;" src="images/addbokje.png" class="img-responsive img-circle" ng-click="addNewBokje();">
                    <div style="margin-top: -5px; height: 58px;" class="panel panel-default">
                        <div class="panel-footer">
                            <input type="text" class="form-control" id="newbokjename" ng-model="newbokjename" placeholder="Naam" ng-keyup="$event.keyCode == 13 && addNewBokje()">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 fadein" ng-repeat="(i, bokje) in getBokjes()">
                    <img ng-if="i == bokjeidselectedforremoval" style="background-color:#F44336;" src="images/removebokje.png" class="img-responsive img-circle" ng-click="removeBokje(i, bokje);">
                    <img ng-if="i != bokjeidselectedforremoval" style="background-color:{{bokje.color}};" src="images/{{bokje.image}}" class="img-responsive img-circle" ng-click="removeBokje(i, bokje);">

                    <div style="margin-top: -5px; height: 58px;" class="panel panel-default">
                        <div ng-if="i == bokjeidselectedforremoval" class="panel-footer" style="height: 56px; border:4px dashed #F44336; text-align: center; vertical-align: middle;"><strong>Bokje verwijderen?</strong></div>
                        <div ng-if="i != bokjeidselectedforremoval" class="panel-footer" style="height: 56px; text-align: center; vertical-align: middle;"><strong>{{bokje.name}}</strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>